body{
    background-color:antiquewhite;
    font-family: Arial, sans-serif;
    margin-left: 10px;
}    
h1{
    color: blue;
} 
p{
    font-size: Arial medium;
    color: black;
}
div{
    color: black;
}
pre {
    white-space: pre;
    background-color: black;
  }
  
pre {
    white-space: pre-wrap;
  }
.modelPre{
    color: aliceblue;
} 
.faseAnalase{
    
    font-family: Lato; color: blue; font-size: 14px"
} 
.faseModelagem{
    font-family: Lato; color: brown; font-size: 14px"
}
.sintaxe{
    font-family: Lato; color: blueviolet; font-size: 14px"
}
.b1{
    background-color: blue;
}
.b2{
    background-color: brown;
}  
.b3{
    background-color: blueviolet;
}
.torre{
    background-color: yellow;
}
.caneta{
    background-color: chartreuse;
}